
<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div class="form-group">
  <%= f.label :name, "名稱" %>
  <%= f.text_field :name, :placeholder => "Event name", :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :status, "狀態" %>
  <%= f.select :status, event_status_options %>
</div>

<div class="form-group">
  <%= f.label :description, "內容" %>
  <%= f.text_area :description, :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :published_at, "發布時間" %>
  <%= f.datetime_select :published_at %>
</div>

<div class="form-group">
  <%= f.label :due_date, "截止日期" %>
  <%= f.date_select :due_date %>
</div>

<div class="form-group">
  <%= f.submit "送出", :class => "btn btn-primary" %>
</div>