
<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div class="form-group">
  <%= f.label :name, "名稱" %>
  <%= f.text_field :name, :placeholder => "Event name", :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :friendly_id, "http://XXX/events/" %>
  <%= f.text_field :friendly_id, :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :tag_list, "標籤" %>
  <%= f.text_field :tag_list, :placeholder => "tag1, tag2", :class=> "form-control", :id => "tagging-list" %>

</div>

<div class="form-group">
  <%= f.label :category_id, "分類" %>
  <%= f.select :category_id, Category.all.map{ |x| [ x.name, x.id] },  :include_blank => "請選擇!" %>

  <%#= f.collection_select(:category_id, Category.all, :id, :name,  { :prompt => "Please select a cateogry..." } ) %>

</div>

<div class="form-group">
  <%= f.label :group_ids, "分組" %>
  <%#= f.collection_check_boxes(::group_ids, Group.all, :id, :name) %>

  <%= f.select :group_ids, Group.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :id => "multiple-group-select", :class=> "form-control" %>

</div>

<div class="form-group">
  <%= f.label :status, "狀態" %>
  <%= f.select :status, event_status_options %>
</div>

<div class="form-group">
  <%= f.label :description, "內容" %>
  <%= f.text_area :description, :class=> "form-control" %>
</div>

<div class="form-group">
  <%= f.label :published_at, "發布時間" %>
  <%= f.datetime_select :published_at %>
</div>

<div class="form-group">
  <%= f.label :logo, "LOGO檔案" %>
  <%= f.file_field :logo %>

  <%#= f.check_box :_destory_logo %>

  <%= check_box_tag "event[_destroy_logo]" %>

  移除照片

</div>

<div class="form-group">
  <%= f.label :due_date, "截止日期" %>
  <%= f.date_select :due_date %>
</div>

<%= f.fields_for :detail do |f2| %>

<div class="form-group">
  <%= f2.label :information, "Information" %>
  <%= f2.text_field :information %>

  <% unless f2.object.new_record? %>
    <%= f2.label :_destroy, 'Remove:' %>
    <%= f2.check_box :_destroy %>
  <% end %>


</div>

<% end %>

<div class="form-group">
  <%= f.submit "送出", :class => "btn btn-primary" %>
</div>

<script>

  $("#multiple-group-select").select2();

  $("#tagging-list").select2({
    tags: <%= raw(Tag.pluck(:name).to_json) %>,
    tokenSeparators: [',', ' ']
  });

</script>