<h1>Event list</h1>


<table class="table table-bordered">
<% @events.each do |e| %>

  <tr>
    <td><%= e.name %></td>
    <td>
    <%= link_to "詳細", event_path(e), :class => "btn btn-primary" %>

    <%= link_to "編輯", edit_event_path(e), :class => "btn btn-default" %>

    <%= link_to event_path(e), :data => { :confirm => "Are you sure?" } , :method => :delete, :class => "btn btn-danger" do %>
      <%= icon("remove") %> 刪除
    <% end %>
    </td>
  </tr>

<% end %>
</table>

<%= paginate @events %>

<%= link_to new_event_path, :class => "btn btn-primary" do %>
  <%= icon("plus") %> 新增活動
<% end %>

<p>

  <%= link_to "XML", events_path( :format => :xml) %>
|
  <%= link_to "JSON", events_path( :format => :json) %>

</p>