<h1>Event list</h1>

<div id="event_form">
<%= form_for @event, :url => events_path do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>
</div>

<p>
<% @categories.each do |c| %>
  <%= link_to c.name, events_path( :category_id => c.id ) %>
<% end %>

  <%= link_to "All", events_path %>
</p>

<table class="table table-bordered">
<% @events.each do |e| %>

  <tr>
    <td><%= e.name %></td>
    <td><%= e.category.try(:name) %></td>
    <td>

    <%= link_to "顯示", event_path(e), :class => "btn btn-primary" %>

<%= link_to '詳細', event_detail_path(e), :class => "btn btn-primary" %>


 <%= link_to "報名者列表", event_attendees_path(e), :class => "btn btn-primary" %>


    <%= link_to "編輯", edit_event_path(e), :class => "btn btn-default" %>

    <%= link_to event_path(e), :data => { :confirm => "Are you sure?" } , :method => :delete, :class => "btn btn-danger" do %>
      <%= icon("remove") %> 刪除
    <% end %>
    </td>
  </tr>

<% end %>
</table>

<%= paginate @events %>

<%= link_to "#", :id => "event-form-show", :class => "btn btn-primary" do %>
  <%= icon("plus") %> 新增活動
<% end %>

<p>
  <%= link_to "XML", events_path( :format => :xml) %>
|
  <%= link_to "JSON", events_path( :format => :json) %>
</p>

<script>

  <% unless @event.errors.any? %>
    $("#event_form").hide();
  <% end %>

  $("#event-form-show").click(function(){
    $("#event_form").toggle();
  })
</script>