<h1><%= @event.name %></h1>

<p>截止日期: <%= @event.due_date %></p>
<p>發布時間: <%= @event.published_at.to_s(:short) %></p>

<p>狀態: <%= @event.status %></p>

<p>

  <%= simple_format( @event.description ) %>
</p>

<h2>Attendee List</h2>

<% @event.attendees.each do |a| %>
  <p><%= a.name %></p>
<% end %>

<%= link_to "活動列表", events_path %>