<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Event system" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container">

   <div id="content" class="col-xs-12">

        <div class="page-header">
          <h1>Event System</h1>
        </div>

<% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
<% end %>


 <% if current_user %>

  Hi, <%= current_user.email %>

    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
      <%= link_to('註冊', new_registration_path(:user)) %> |
      <%= link_to('登入', new_session_path(:user)) %>
  <% end %>

<%= yield %>


<%= link_to "中文版", :controller => controller_name,
             :action => action_name, :locale => "zh-TW"  %>
<%= link_to "English", :controller => controller_name,
             :action => action_name, :locale => "en" %>

</div>
</div>

</body>
</html>
